<!DOCTYPE html>
<html>
<head><% include templates/head.ejs%></head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout-icon"></div>
    <div class="mdl-layout__header-row">
      <span class="mdl-layout__title">Berry House</span>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href="">Add Plant</a>
      </nav>
    </div>
  </header>
  <main class="mdl-layout__content">
    <div class="mdl-grid">
      <div class="mdl-card mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet mdl-shadow--4dp">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Create plant</h2>
        </div>
        <form action="/plants/createPlant" method="POST">
          <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet ">
            <div class="mdl-textfield mdl-js-textfield">
              <input class="mdl-textfield__input" type="text" id="name" name="name">
              <label class="mdl-textfield__label" for="name">Name of new plant</label>
            </div>
          </div>
          <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet ">
            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised">Create</button>
          </div>
        </form>
      </div>
    </div>
  </main>
</div>
  </body>
</html>
